@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,600&display=swap");

$color-primary: rgb(255, 255, 255);
$color-secondary: #f52f41;
$color-details-btn: #f52f41;
$color-buy-btn: rgb(73, 189, 7);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  --toastify-color-success: rgb(73, 189, 7);
}

#header {
  background-color: $color-primary;
  color: $color-secondary;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 1.5rem 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
#home {
  background-image: url("../public/backgroundFB-peya.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#logo{
  text-decoration: none;
  font-family: Mulish;
  color: $color-secondary;
  font-size: 120%;
  padding: 0 1.5rem;
}
.title {
  font-family: Mulish;
  background-color: rgba(241, 241, 241, 0.616);
  color: #333333;
  margin: 0 auto;
  padding: 0 1.5rem;
  border-radius: 50px;
  font-size: 200%;
}
.subtitle {
  @extend .title;
  font-size: 100%;
}
.footer {
  font-size: 1rem;
  font-family: Mulish;
  background-color: $color-secondary;
  color: $color-primary;
}

#navbar {
  justify-content: space-between;
  a {
    font-family: Mulish;
    color: $color-secondary;
    text-decoration: none;
    padding: 0 1rem;
    font-size: larger;
    font-weight: bolder;
    &:hover {
      color: #ff6c6c;
    }
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.btn-primary {
  background-color: $color-secondary;
  color: $color-primary;
  padding: 0.25rem;
  border: solid 1px $color-secondary;
}
.btn-secondary {
  @extend .btn-primary;
  background-color: $color-primary;
  color: $color-secondary;
}
.btn-secondary,
.btn-primary {
  &:hover {
    background-color: #fc6a6a;
    color: $color-primary;
  }
}

.active {
  box-shadow: 0 6px 0 $color-secondary;
}

#menuIcons{
  
  padding: 3rem;
  display: flex;
  
  margin: 0 auto;
  width: 50%;
  img{
    background-color: #ffffff9a;
    border-radius: 50px;
    display: block;
    width: 33%;
    margin: auto;
    &:hover, ::before{
      transform: scale(1.1) ;
      transition: ease 0.5s;
      background-color: #ffffff;
    }
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3rem;
  padding: 3rem 5rem;
}
.cardContainer {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 1.5rem;
  border-radius: 5px;
  border: solid rgb(218, 218, 218) 1px;
  transition: 0.3s ease;
}

.cardContainer:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.card__img {
  width: 100%;
  object-fit: cover;
  margin: 1rem auto;
}
.card__img__container{
  text-align: center;
}
.card__title{
  font-size: 150%;
  
}
.card__title__container{
  padding: 2rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__description {
  margin: 1rem 0;
  font-size: 0.8rem;
}
.card__regularPrice{
  text-decoration: line-through;
  font-size: 220%;
  padding: 1rem 0;
}
.card__discountPrice{
  background-color: green;
  color: white;
  font-size: 300%;
  border-radius: 5px;
}
.card__text__container{
  margin: 0 auto;
}
.card__btn {
  width: 100%;
  border: none;
  margin: 10% auto;
  padding: 1rem 0;
  background-color: $color-details-btn;
  color: $color-primary;
  cursor: pointer;
}
.card__btn__container{
  text-align: center;
}

.details__main__container{
  font-family: Arial, Helvetica, sans-serif;
  color: #3f3f3f;
  margin: 0 auto;
  padding: 5rem;
  border: solid gray 1px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 50%;
}
.details__img__container{
  width: 50%;
}
.details__side__container{
  padding: 2rem;
  width: 50%;
}
.details__title{
  font-size: 300%;
}

.details__price{
  font-size: 350%;
}
.details__btn__container{
  display: flex;
}
.details__btn{
  border-radius: 5px;
  border: none;
  background-color: $color-buy-btn;
  color: white;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
}

.counter__container{
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  width: 100%;
  font-size: 200%;
  margin: auto;
}
.item__count{
  border-radius: 5px;
  width: 30%;
  border: none;
  background-color: rgb(0, 89, 255);
  color: white;
  font-size: 100%;
  padding: 1rem 0;
}
.item__count__output{
  margin: auto;
  width: 30%;
  text-align: center;
}

.cartItem--container{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 2rem;
  align-items: center;
  border: solid 1px red;
  border-radius: 5px;
  margin: 1rem ;
}

.cartItem--imgContainer{
  width: 20%;
}
.cartItem--img{
  width: 100%;
}

.cartDescription--container .cartQty--container .cartPrice--container{
  width: 20%;
  
}
.cartDescription--container{
  width: 30%;

}


