@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
$color-primary: rgb(255, 255, 255);
$color-secondary: #f52f41;
#header {
  background-color: $color-primary;
  color: $color-secondary;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
}
#home {
  display: flex;
  background-image: url("../public/backgroundFB-peya.jpg");
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  padding: 1rem;
  align-items: center;
  font-size: 200%;
  font-weight: bolder;
  h2 {
    font-family: Mulish;
    background-color: rgba(241, 241, 241, 0.616);
    color: #333333;
    margin: 0 auto;
    padding: 0 1.5rem;
    border-radius: 50px;
  }
}

#footer {
  font-family: Mulish;
  background-color: $color-secondary;
  color: $color-primary;
}

#navbar {
  justify-content: space-between;
  a {
    font-family: Mulish;
    color: $color-secondary;
    text-decoration: none;
    padding: 1rem;
    font-size: larger;
    font-weight: bolder;
    &:hover{
      box-shadow: 0 6px 0 $color-secondary;
    }
  }
}

.btn-primary {
  background-color: $color-secondary;
  color: $color-primary;
  padding: 0.25rem;
  border-radius: 10px;
  border: solid 1px $color-secondary;
}
.btn-secondary {
  @extend .btn-primary;
  background-color: $color-primary;
  color: $color-secondary;
}
.btn-secondary, .btn-primary{
  &:hover{
    background-color: #fc6a6a;
    color: $color-primary;
  }
}
